<!-- Home page -->

<div>
  <% if current_user %>
    <h2>Howdy!<br>Welcome to the Fish Camp Chair Website, <strong><%= current_user.name %></strong>.</h2>
  <% else %>
    <h2>Howdy!<br>This is the Fish Camp Chair Website! Please <%= link_to "login", "/auth/google_oauth2", id: "home_sign_in" %> to access this content.</h2>
  <% end %>
</div>
<br>
