<!-- Profile page -->

<html>
  <head>
    <title>Fish Camp Profile</title>
  </head>

  <body>
    <h1 style="font-size:300%">Fish Camp Homepage</h1>
    <%= link_to 'Home', home_path %>
    &emsp;
    <%= link_to 'Register Now', register_path %>
    &emsp;
    <%= link_to 'FishCamp Profile', profile_path %>
    <br>
    <h1>Fish Camp Profile</h1>
    <br>
    <hr>
    <section>
      <h2>Again, we should discuss login procedures, and what exactly goes in here</h2>
    </section>
  </body>
</html>